body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg');
    background-size: cover;
}

.container {
    width: 300px;
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the container for better readability */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

#message.success {
    background-color: #4caf50;
    color: white;
}

#message.error {
    background-color: #f44336;
    color: white;
}

.hidden {
    display: none;
}
